.carousel {
  position: relative;
  height: 39rem;
  z-index: -1;
  .carousel-item {
    height: 36rem;
    width: 100%;
  }
  .swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: -3rem;
    }
}

.carousel-img1, .carousel-img2, .carousel-img3 {  
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.carousel-img1 {
  background-image: url(../images/carousel/book-g70b2fc7ef_640.jpg);
}
.carousel-img2 {
  background-image: url(../images/carousel/booklet-gd8e2a5b31_640.jpg);
}
.carousel-img3 {
  background-image: url(../images/carousel/photo-1513128034602-7814ccaddd4e.jpg);
}

