.info-item {
  padding: 1.5rem 2.5rem;
  border-bottom: 1px solid $light-gray;
  background-color: $beige;
  .info-img {
    height: 9.3rem;
    width: 9.3rem;
    margin: 0 2.5rem 1rem 0;
    float: left;
    shape-margin: 5px;
    -webkit-shape-outside: url(../images/brand/notebook-g4071a860b_640.jpg);
    shape-outside: url(../images/brand/notebook-g4071a860b_640.jpg);
    img {
      height: 100%;
      width: 100%;
    }
  }
  h3 {
    line-height: 2.3rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}
