.news-li {
  li {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    list-style: none;
    padding: 0.8rem;
    border-bottom: 1px solid $light-gray;
    box-sizing: border-box;
  }
}